{% extends 'blogs/base.html' %}

{% block content %}

	<p>Title: {{ post }}</p>
	
	<p>Post:</p>

	<ul>
	{% if post %}
		<li>

			<p>{{ post.text|linebreaks }}</p>
			<p>Written by: {{ post.owner}}</p>
			<p>{{ post.date_added|date:'M d, Y H:i' }}</p>
			
			{% if post.owner == user %}
				<p>
				<a href="{% url 'blogs:edit_post' post.id %}">edit post</a>
				</p>
			{% endif %}
		</li>
	{% else %}
		<li>
			There are no entries for this topic yet.
		</li>
	{% endif %}
	</ul>

{% endblock content %}